<section class="toc-page">
  <h1 class="toc-title">Inhaltsverzeichnis</h1>
  
  <ul class="toc-list">
    {% for item in toc_tree %}
      {% if item.is_part %}
        <li class="toc-item toc-item-part">
          <div class="toc-part-title">{{ item.title }}</div>
          {% if item.children %}
            <ul class="toc-list">
              {% for child in item.children %}
                <li class="toc-item toc-item-h{{ child.level }}">
                  <a href="#{{ child.slug }}" class="toc-link">
                    <span class="toc-text">
                      {% if child.number %}{{ child.number }} {% endif %}{{ child.title }}
                    </span>
                    <span class="toc-leader"></span>
                    <span class="toc-page-number"></span>
                  </a>
                  {% if child.children %}
                    <ul class="toc-list">
                      {% for sub in child.children %}
                        <li class="toc-item toc-item-h{{ sub.level }}">
                          <a href="#{{ sub.slug }}" class="toc-link">
                            <span class="toc-text">
                              {% if sub.number %}{{ sub.number }} {% endif %}{{ sub.title }}
                            </span>
                            <span class="toc-leader"></span>
                            <span class="toc-page-number"></span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% else %}
        <li class="toc-item toc-item-h{{ item.level }}">
          <a href="#{{ item.slug }}" class="toc-link">
            <span class="toc-text">
              {% if item.number %}{{ item.number }} {% endif %}{{ item.title }}
            </span>
            <span class="toc-leader"></span>
            <span class="toc-page-number"></span>
          </a>
          {% if item.children %}
            <ul class="toc-list">
              {% for sub in item.children %}
                <li class="toc-item toc-item-h{{ sub.level }}">
                  <a href="#{{ sub.slug }}" class="toc-link">
                    <span class="toc-text">
                      {% if sub.number %}{{ sub.number }} {% endif %}{{ sub.title }}
                    </span>
                    <span class="toc-leader"></span>
                    <span class="toc-page-number"></span>
                  </a>
                  {% if sub.children %}
                    <ul class="toc-list">
                      {% for subsub in sub.children %}
                        <li class="toc-item toc-item-h{{ subsub.level }}">
                          <a href="#{{ subsub.slug }}" class="toc-link">
                            <span class="toc-text">
                              {% if subsub.number %}{{ subsub.number }} {% endif %}{{ subsub.title }}
                            </span>
                            <span class="toc-leader"></span>
                            <span class="toc-page-number"></span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

